
{{#each collections as |collection|}}
  <div>
    <p data-id="{{collection.id}}"> </p>
    <p class="text-center">
      <a class="get-part" {{collections.parts}} >
        {{#if collection.collection_name}}
          {{collection.collection_name}}
        {{else}}
          No Collection
          {{/if}}
      </a>
    </p>
  </div>
  <hr>
{{/each}}
