$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$antiquewhite: #faebd7;
$black: #000;
$white: #fff;
$opacity4: rgba(0, 0, 0, .4);
$opacity5: rgba(0, 0, 0, .5);


body {
  background-color: $antiquewhite;
}

.another {
  height: 500px;
  margin: 0 auto;
  overflow-y: scroll;
  width: 700px;
}

.brand {
  font-family: 'Coda Caption', sans-serif;
}

.box {
  border: 1px solid $black;
  height: 25vh;
  width: 25vw;
}

.btn {
  display: inline-block;
  margin-left: 15px;
}

.coda {
  font-family: 'Coda Caption', sans-serif;
}

.content-box {
  background: $white;
  border: 1px solid $opacity4;
  height: 350px;
  margin: 0 auto;
  margin-top: 25px;
  overflow-y: scroll;
  position: fixed;
  text-align: center;
  transition: .7s ease;
  width: 20px;
}

.content-box:hover {
  box-shadow: 1px 1px 30px $opacity5;
  transition: .7s ease;
  width: 550px;
}

.create-tab {
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
}

.inventory {
  text-align: center;
}

.load-content {
  background-image: url('img/inventory.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  margin: 0 auto;
  width: 95vw;
}

.navbar-nav {
  display: inline-flex;
  margin-left: 10px;
  margin-top: 20px;
}

.nav-tabs > li {
  float: none;
  text-align: center;
}

.part-status {
  font-size: 20px;
  height: 25px;
  text-align: center;
}

.part-data {
  margin-top: 10px;
}

.parts {
  border: 1px solid $black;
  height: 85vh;
  margin: 0 auto;
  text-align: center;
  width: 95%;
}


.part-content {
  background-color: $white;
  border: 1px solid $black;
  height: 75vh;
  margin: 0 auto;
  overflow-y: scroll;
  text-align: center;
  width: 80vw;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.status {
  font-size: 20px;
  height: 25px;
  text-align: center;
  font-family: 'Coda', cursive;
}
